<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
 PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
 "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="bbs">

	<select id="count" resultType="int">
		select count(*) from bbs_t
	</select>
	
	<select id="list" parameterType="map" resultType="bvo">
		select * from bbs_t order by b_idx desc limit #{limit} offset #{offset} 
	</select>
	
	<insert id="insert" parameterType="bvo">
		insert into bbs_t(subject, writer, content, f_name, pwd, write_date, hit)
		values(#{subject}, #{writer}, #{content}, #{f_name}, #{pwd}, sysdate(), 0)
	</insert>
	
	<select id="onelist" parameterType="String" resultType="bvo">
		select * from bbs_t where b_idx = #{b_idx}
	</select>
	
	<update id="hit" parameterType="String">
		update bbs_t set hit = hit + 1 where b_idx = #{b_idx}
	</update>
	
	<update id="update" parameterType="bvo">
		update bbs_t set subject = #{subject}, writer = #{writer}, content = #{content}, f_name = #{f_name} where b_idx = #{b_idx}
	</update>
	
	<update id="delete" parameterType="String">
		update bbs_t set status = 1 where b_idx = #{b_idx}
	</update>
	
	<select id="commlist" resultType="cvo">
		select * from comment_t where b_idx = #{b_idx}
	</select>
	
	<insert id="commInsert" parameterType="cvo">
		insert into comment_t (writer, content, write_date, b_idx)
		values(#{writer}, #{content}, sysdate(), #{b_idx}) 
	</insert>
	
	<delete id="commDelete" parameterType="String">
		delete from comment_t where c_idx = #{c_idx}
	</delete>
	
	<select id="commCount" resultType="int">
		select count(*) from comment_t where b_idx = #{b_idx}
	</select>
</mapper>